{% extends "base.html" %}

{% block styles %}
 {{ super() }}
{% endblock %}

{% block hero %}
  <div class="hero-container">
    <div class="bg"></div>
    <div class="hero-content">
      <div class="md-grid">
        <h1>Welcome to <br>my <span>wiki</span>!</h1>
        <p>Here, you'll find everything you need to know about my note space.</p>
      </div>
    </div>
  </div>
  {{ super() }}
{% endblock %}

{% block container %}
<style>
  .md-main {
    display: none;
  }
</style>
{% endblock %}

{% block content %}
{% endblock %}

{% block htmltitle %}
<title>adhadse — Wiki</title>
{% endblock %}
