.link {
  border: 1px solid $gray-200;
  padding: 1rem;
  border-radius: 5px;
  color: $purple;
  display: flex;
  margin: 1em 0;
  font-family: $font-family-sans-serif;
  transition: 0.1s ease-in;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    border: 1px solid $gray-400;
  }

  .link-icon {
    padding-left: 1em;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>');
  }

  .link-custom-icon {
    padding-left: 1em;
  }

  .title {
    padding-left: 0.5em;
  }

  .link-info {
    margin-left: auto;
    padding-right: 0.5em;
    color: lighten($gray-600, 10) !important;
    font-size: $font-size-sm;
  }

  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

[data-dark-mode] .link {
  border: 1px solid $gray-800;
  color: $blue-300;

  &:hover {
    border: 1px solid $gray-700;
  }
}

[data-dark-mode] .link .link-icon {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%235FA0FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link-2"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>');
}

[data-dark-mode] .link .link-info {
  color: $gray-600 !important;
}
