/*

Based on Ascetic by (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  background: $body-overlay-dark;
  color: $code-white;
  thead, tbody, tfoot, tr, td, th {
    border-color: transparent;
    border-style: none!important;
    border-width: 0;
  } 
  .table, table {
    color: $code-white!important;
    font-family: $font-family-monospace!important;
  } 
}

table.hljs-ln {
  margin: 0!important;
  tr {
    td.hljs-ln-numbers {
      width: 2em;
    }
  }
}

.table > :not(caption) > * > *, table > :not(caption) > * > * {
  background: none;
}

// no support for Rust macros; 
// only few built-in macros are built-in 
.language-rust .hljs-built_in {
  color: #4EADE5; // color for rust macro
}

.language-rust .hljs-symbol { // lifetimes
  color: #20999D;
  font-style: italic;
}

.language-rust .hljs-meta {   // Attribute: #[cfg(target_os="linux")]
  color: #BBB529;

  .hljs-string {
    color: #6A8759;
  }
}

.hljs-built_in {
  color: #FFC66D;  // color for functions in py
}

.hljs-string {
  color: #6A8759;
}

.hljs-title.function_ {
  color: #FFC66D;
}

.hljs-title.class_ {
  color: inherit;
}

.hljs-title {
  color: #9876AA;
}

.hljs-symbol,
.hljs-bullet,
.hljs-section,
.hljs-addition,
.hljs-attribute,
.hljs-link {
  color: $pink-500;
}

.hljs-comment,
.hljs-quote,
.hljs-meta,
.hljs-deletion {
  color: #888;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-name,
.hljs-type,
.hljs-strong {
  font-weight: 500;
}

.hljs-section {
  color: $blue-300;
}

.hljs-emphasis {
  font-style: italic;
}

[data-dark-mode] body .hljs {
  background: $body-overlay-dark;
  color: $code-white;
}

[data-dark-mode] body .hljs-template-variable,
[data-dark-mode] body .hljs-symbol,
[data-dark-mode] body .hljs-bullet,
[data-dark-mode] body .hljs-section,
[data-dark-mode] body .hljs-addition,
[data-dark-mode] body .hljs-attribute,
[data-dark-mode] body .hljs-link {
  color: $blue-300;
}

/* Hihglight.js line number padding*/
.hljs-ln-n {
  max-width: 0.9em;
}
