{{ $link := .Get "link"}}
{{ $title := .Get "title" }}

{{ if $link }}
{{ if os.FileExists (path.Join "static/" $link ) }}
<div class="file">
            <div class="file-icon"></div>
            <div class="title">
                {{ if $title }}
                    {{ $title }}
                {{ else }}
                    {{ $dirFile := path.Split $link }} {{ $dirFile.File }}
                {{ end }}
            </div>
            <div class="file-info">
                {{ $dirFile := path.Split $link }} {{ $dirFile.File }}
            </div>
            <a href="{{ $link | relURL }}" target="_blank" download></a>
    </div>
    {{ else }}
        {{ errorf "%q: %q does not exist." .Page.Path $link }}
    {{ end }}
{{ else }}
    {{ errorf "%q: Link was not provided to 'file' shortcode " .Page.Path }}
{{ end }}