{{ $link := .Get "link"}}
{{ $title := .Get "title" }}
{{ $icon := .Get "icon" }}
{{ $target := .Get "target" }}

{{ if $link }}
<div class="link">
            {{ if $icon }}
            <div class="link-custom-icon">{{ emojify $icon }}</div>
            {{ else }}
            <div class="link-icon"></div>
            {{ end }}
            <div class="title">
                {{ if $title }}
                    {{ $title }}
                {{ else }}
                    {{ errorf "%q: Title was not provided to 'link' shortcode " .Page.Path }}
                {{ end }}
            </div>
            <div class="link-info">
                {{ $url := urls.Parse $link }}
                {{ $url.Host }}
            </div>
            <a href="{{ $link }}" target="{{ if $target }}{{ $target }}{{ else }}_blank{{ end }}"></a>
    </div>
{{ else }}
    {{ errorf "%q: Link was not provided to 'link' shortcode " .Page.Path }}
{{ end }}