{{ $link := .Get "link"}}
{{ $title := .Get "title" }}
{{ $icon := .Get "icon" }}

{{ if $link }}
{{ if os.FileExists (path.Join "content/en/" $link ) }}
<div class="ref">
            {{ if $icon }}
            <div class="ref-custom-icon">{{ emojify $icon }}</div>
            {{ else }}
            <div class="ref-icon"></div>
            {{ end }}
            <div class="title">
                {{ if $title }}
                    {{ $title }}
                {{ else }}
                    {{ with .Site.GetPage $link }}{{ .Title }}{{ end }}
                {{ end }}
            </div>
            <div class="ref-info">
                {{ with .Site.GetPage $link }}{{ .RelPermalink }}{{ end }}
            </div>
            <a href="{{ with .Site.GetPage $link }}{{ .RelPermalink }}{{ end }}"></a>
    </div>
    {{ else }}
        {{ errorf "%q: %q does not exist." .Page.Path $link }}
    {{ end }}
{{ else }}
    {{ errorf "%q: Link was not provided to 'file' shortcode " .Page.Path }}
{{ end }}